<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731475277695-9sh144ut1sa7ol68me53d0t9c81csng7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731475277695-9sh144ut1sa7ol68me53d0t9c81csng7</string>
	<key>API_KEY</key>
	<string>AIzaSyCi-rczhLqUkUq1YoJjfyropIlP7wJybUI</string>
	<key>GCM_SENDER_ID</key>
	<string>731475277695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>earth.lomi.app.1</string>
	<key>PROJECT_ID</key>
	<string>lomi-app---production</string>
	<key>STORAGE_BUCKET</key>
	<string>lomi-app---production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731475277695:ios:2ecf9b5b3f85dc717b4c4a</string>
</dict>
</plist>