//
//  Develop.xcconfig
//  Lomi
//
//  Created by Ben on 2022-05-05.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = earth.lomi.app.1.develop
APP_NAME = Lomi-Develop
APP_ICON = AppIcon-Develop
BASE_API_URL = api-develop.lomi-app.net
